body,
html,
#root,
* {
  margin: 0;
  font-family: 'Montserrat', 'Noto Sans Thai', Arial, sans-serif !important;
  /* เพิ่ม !important เพื่อบังคับ override ทุกที่ */
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:lang(th),
[lang="th"] {
  font-family: 'Noto Sans Thai', 'Montserrat', Arial, sans-serif !important;
}